body {
  background-color: rgb(81, 177, 161);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

.container {
  background-color: rgb(44, 100, 91);
  width: 310px;
  margin: 100px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.screen {
  background-color: rgb(99, 241, 218);
  border-radius: 10px;
  padding: 5px;
  text-align: right;
}

.row {
  display: flex;
}

.col {
  background-color: rgb(27, 177, 169);
  text-align: center;
  flex-basis: 25%;
}

.col:hover {
  cursor: pointer;
  background-color:white;
}

.screen,
.col {
  border-radius: 10px;
  justify-content: center;
  margin: 5px;
}
