* {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

body {
  background-color: rgb(49, 47, 47);
}

.navbar {
  background-color: grey;
  width: 200px;
  margin: 10% auto;
  border-radius: 5px;
}

.navbar button {
  display: block;
  margin: auto;
}

.navbar {
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  display: block;
  margin: 10px 0 10px 0;
}

.navbar a:hover {
  background-color: rgb(49, 47, 47);
  border-radius: 5px;
}